/* font-family: 'Lato', sans-serif;
font-family: 'Nunito Sans', sans-serif; */
*,
*::after, ::before{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
}

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.text{
    width: 580px;
    color: #FAF9F9;
    padding: 170px 0;
}

.text h1 span {
    display: block;
    font-weight: 700;
    font-size: 30px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FBB731;
    margin-bottom: 10px;
}

.text h1 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 1.4;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.text p {
    width: 522px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
    margin-bottom: 42px;
}

.text a {
    display: inline-block;
    outline: none;
    background: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 45px;

    font-family: 'Nunito Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-transform: uppercase;
    color: #1E2F40;
}

.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.bg{
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}

img {
    display: inline-block;
    width: 829px;
    height: auto;
    position: absolute;
    right: -168px;
}
